.clickable {
  cursor: pointer;
  user-select: none;
}

a {
  text-decoration: none;
}
a:visited { text-decoration: none; color:#f1f1f1; }
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:#f1f1f1; }
a:hover, a:active { text-decoration: none; color:black }

.clickable :hover {
  opacity: .5;
}

input {
  display: block;
}

body {
  background-color: #313131;
  color: #d9d9d9;
}

.form {
  width: 30%;
  padding: 1em;
  margin: auto;
  margin-top: 5em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'segoe ui';
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 0.4em;
  user-select: none;
}

.card:hover {
  box-shadow: 0 1em 2em 0 rgba(0,0,0,0.4);
}

.pictureProfile {
  max-width:100%;
  height:auto;
  border: 2px solid black;
  border-radius: 50%;
  display:none;
}

h1{
  text-align: center;
}