
.card img {
    height: 70%;
    width: 100%;
}

#component-home {
    width: 50%;
    margin: auto;
    margin-top: 2em;
    column-gap: 1em;
  }
  
.card-play {
    width: 100%;
    float: left;
    text-align: center;
    background-color:#4D4D4D;
    height: 17em;
    
}

.card p:hover{
    opacity: 50%;
}

.card-play p {
    font-size: 2rem;
}

body{
    background: url('../../assets/images/bg_dota_data.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}

.soloGame {
    margin-top: 16em;
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #FFF;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-size: 300% 100%;
    border: none;
    outline: none;
    padding: 10px;
}

.soloGame:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

body{
    font-size: 25px;
}

li{
    margin: 10px;
    font-size: 20px;
}

.card-img-top{
    width:100%;
    height:auto;
}

.wrap{
    text-align: center;
}

.wrapRank{
    text-align: center;
    margin-top: 8em; 
}

.buttonDesign{
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #FFF;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-size: 300% 100%;
    border: none;
    outline: none;
    padding: 10px;
}

.buttonDesign:hover{
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

@media (max-width: 360px){
    .container p{
        font-size: 20px;
    }
}

#special{
    margin-top: 15px;
    border:2px solid gray;
}

#saveBtn{
    margin-left: 2em;
    margin-bottom: 2em;
}

#left{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#centerBtn{
   margin:0 auto;
}

.centerImage{
    display: block;
    margin: 0 auto;
}


#signupBtn{
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #FFF;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-size: 300% 100%;
    border: none;
    outline: none;
    padding: 10px;
}

#signupBtn:hover{
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#heading{
    margin-bottom: 10px;
    font-size: 60px;
}

#spacing{
    margin-top: 5%;
    margin-bottom: 5%;
}

* {
    box-sizing: border-box;
  }

input[type=password]{
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-bottom: 10px;
}

input[type=text], select, textarea {
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    display: inline-block;
  }
  
  .container {
    border-radius: 5px;
    background-color: black;
    opacity:0.7;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    text-align: center;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=text], input[type=password] {
      width: 100%;
      margin-top: 0;
    }
  }

  #editBtn{
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #FFF;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-size: 300% 100%;
    border: none;
    outline: none;
    margin-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }